{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block account_content %}
    <form method="POST" action="" class="password_change form-horizontal">
        {% csrf_token %}
        {{ password_change_form|bootstrap_horizontal:"col-sm-3" }}
        <div class="form-actions">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
